body{/*whole size of home page*/
	margin: 0; padding: 0;/*space manage*/
	background-image: url("welcome.jpeg");/*walpaper for background*/
	background-size: cover;/*image in whole page*/
}
header h1 {/*Header of page started*/
	padding: 8px 0px 6px 40px;/*Text size manage*/
	height: 50px;/*Height of the text*/
	text-align: center;/*Text written in the center of header*/
	font-size: 35px;/*size of letters*/
	margin-top: 1%;/*gaps at top header*/
}
ul{/*it defines an unordered list*/
	list-style: none;/*no design is given*/
	margin: 0; padding: 0;/*space manage*/
	overflow: hidden;/*overflow is hidden*/
	background-color: grey;/*background colour given*/
}
li{/*it is used to order the list*/
	float: left;/*direction of the list*/
}
li a{/*it denotes the navigation of the page*/
	display: block;/*size of box*/
	color: white;/*color of the text*/
	font-weight: bold;/*text can be seen clearly*/
	color: #FFFFFF;/*background color*/
	width: 120px;/*whole size of the text*/
	padding: 16px 16px;/*space manage*/
	text-align: center;/*middle of the page*/
	text-decoration: none;/*no design is made*/
}
li a:hover,a:active{/*hover is made so we know where we click the page*/
	background-color: red;/*background color for navigation*/
}
.Welcome{/*class*/
	text-align: center;/*text can be written in the center*/
	font-size: 20px;/*font size of the text*/
	font-weight: 800;/*text font weight*/
	margin-top: 12%;/*size manage*/
    margin-left: 5%;/*bar of the text*/
}

footer img{
margin: 1%;
	align-items: left;
	margin-top: -1%;

}
footer h1{
	text-align: left;
	margin-top: 28%;
	font-size: 40px;

}